## Account Verification
While you can start selling airtime immediately on Convert, unverified accounts are limited to a lifetime maximum transaction volume of ₦10,000. To verify your account and increase your transaction limits, follow these steps:
<br></br>

1. Obtain a government-issued color photo ID (e.g., driver’s license, voter’s card, or passport)<br></br>

2. Get a recent utility bill (not older than three months)<br></br>

3. Take clear photos of both the ID and utility bill<br></br>

4. Click the **Profile** icon at the top-right of your screen and select **Verification** from the displayed menu<br></br>

5. Upload both images in the designated  boxes<br></br>

6. Click the **Submit** button at the bottom of the page
<br></br>

You will receive feedback on your application within 24 hours. Please, note that our accounts team may contact you for additional information or clarification regarding your submitted documents.
<br></br>