## Account Verification
While you can sell airtime right away on Convert, an unverified account is only allowed a lifetime maximum of ₦10,000 in transaction volume. To verify your account and start selling airtime with higher limits, follow the steps below:<br></br>

1. Get a government-issued color photo ID (driver's license, voter's card, or passport).<br></br>

2. Get a recent utility bill (not more than three months old).<br></br>

3. Take a shot of the ID card and utility bill.<br></br>

4. Click the **Profile** icon at the top-right of your screen, and select **Verification** from the drop-down.<br></br>

5. Upload both images in the boxes provided.<br></br>

6. Click the **Submit** button at the bottom of the page.<br></br>

You will get feedback on your application within 24 hours. Please note that our accounts team may contact you if we need additional information or clarification on your submitted documents.

<br></br>